/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
/* @import url('./vite-promo.css');
@import url('./header.css'); */

:root {
  /* font-family:
   Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87); */

  font-family: 'Montserrat', sans-serif;
  color: #2e2f42;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 16px;
}

.search-input {
  width: 272px;
  height: 22px;
  border: 1px solid #808080;
  border-radius: 4px;
  background: #fff;
  outline: transparent;
  color: #808080;
  padding: 8px 16px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
}

.search-input:hover {
  border-color: #000000;
}

.search-input:active,
.search-input:focus {
  color: #2e2f42;
  border-color: #4e75ff;
}

.search-btn {
  margin-left: 8px;
  border: none;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  min-width: 91px;
  min-height: 40px;
}

.search-btn:hover {
  background-color: #6c8cff;
}

.images-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 16px;
  padding: 0 156px;
}

.images {
  width: 360px;
  height: 200px;
  overflow: hidden;
}

img {
  display: block;

  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.description div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #4e75ff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Приховання завантажувача*/
.is-hidden {
  /* display: none; */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.load_more_btn {
  display: inline-flex;
  margin-top: 32px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
}

.load_more_btn:hover {
  background-color: #6c8cff;
}
